extends layouts/main 

block vista 

    include partials/historial.pug

    a(href='/')
        button.btn.btn-secondary(type='button') Formulario
    button.btn.btn-secondary(type='button' disabled='') Listado