<div class="container mt-3">
    {{> historial}}
    <a href="/">
            <button type="button" class="btn btn-secondary">Formulario</button>
    </a>
    <button type="button" class="btn btn-secondary" disabled>Listado</button>
</div>