<div class="container mt-3">
    {{> formulario}}
    <button type="button" class="btn btn-secondary" disabled>Formulario</button>
    <a href="/productos">
        <button type="button" class="btn btn-secondary">Listado</button>
    </a>
</div>